.code-sample {
  background-color: darkslategray;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  overflow-x: auto;
}

.code-header {
  background-color: darkslategrey;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.code-language {
  font-size: 14px;
}

.code-copy {
  background-color: darkslateblue;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
}

.code-copy:hover {
  background-color: #ccc;
}

pre {
  margin: 0;
  padding: 10px;
  white-space: pre-wrap;
}

code {
  font-family: 'Courier New', Courier, monospace;
}
